/* {
  box-sizing: border-box;
} */

html {
  font-family: Roboto, Arial, Helvetica;
  font-size: 1em;
}

body {
  background-color: #16AFCB;
  /* display: block; */
  /* margin-left: auto;
  margin-right: 13em;
  width: 40%; */
  /* margin-left: 5em;
  margin-right: 5em; */
  /* padding-left: 5em; */
}

img {
  /* display:block; */
  width:20%;
  /* position:relative; */
}

.pagecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: .1fr .1fr .1fr; */
}

header {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: #FEEF63;
  text-align: center;
}

h1 {
  color: #B21E59;
  align-items: center;
  font-family: 'Concert One', cursive;
}

@media only screen and (min-width: 769px) {
  footer {
    background: #B21E59;
    position: fixed;
    /* padding: 1rem; */
    margin-top: 36px;
    text-align: center;
    /* border-radius: 1rem; */
    left: 0;
    bottom: 0;
    width: 100%;
  }

  footer ul li {
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    padding: .5rem;
  }
}
