* {
  box-sizing: border-box;
}

body {
  background-color: #88B5FF;
  font-family: Roboto, Arial, Helvetica;
  font-size: 1em;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: center;
  /* border: solid;
  border-color: pink;  */
  /* border-color: #32adad; */
}

#iphone {
  border: none;
  background-color: #444DB2;
  border-radius: 4em;
}

#airpods {
  border: none;
  background-color: #444DB2;
  border-radius: 4em;
}

#chapstick {
  border: none;
  background-color: #444DB2;
  border-radius: 4em;
}

/* img {
  display:inline;
  width: auto;

} */
header {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: #FEEF63;
  text-align: center;
}

h1 {
  color: #ffa08c;
  text-shadow: 2px 2px #444DB2;
  align-items: center;
  font-family: 'Concert One', cursive;
}

footer {
  font-family: 'Arial';
  background-color: #ffa08c;
  /*pink*/
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 15px;
  padding: 17px 0px 17px 0px;
  width: 100%;
  text-align: center;
}

footer a {
  color: white;
}

@media only screen and (min-width: 768px) {

  img {
    display: inline;
  }

  #overlay {
    border-radius: 1em;
    background-color: #fffff5;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;
    justify-content: center;
    position: absolute;
    width: 40%;
    height: 20%;
  }

  img {
    display: block;
    width: auto;
  }

  footer {
    font-family: 'Arial';
    background-color: #ffa08c;
    /*pink*/
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 15px;
    padding: 17px 0px 17px 0px;
    width: 100%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
  }

  footer a {
    color: white;
  }

    #overlay {
      border-radius: 1em;
      background-color: white;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 75%;
      justify-content: center;
      position: absolute;
      width: 40%;
      height: 20%;
      display: none;
    }

    p {
      padding-left: .5em;
      padding-right: .5em;
      text-align: center;
      margin-top: 10%;
      color: black;
      line-height: 1.2em;
    }

    #overlaybutton {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #close {
      position: absolute;
      top: 1em;
      right: 1em;
      color: black;
    }

    #close {
      cursor: pointer;
    }
  }
