/* one page site with scroll */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
  background-color: #7a63ff;
}

h2 {
  text-shadow:1px;
  font-size: 25px;
  font-family: Helvetica;
  color: #F69A50;
}

nav {
  position: fixed;
  top: 5.5em;
  right: 1rem;
  font-size: 1.5em;
  z-index: 5;
}

li {
  list-style-type: none;
}

a {
  border: 2px #333 solid;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin: 1rem;
  color: #333;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: white;
}

.active {
  background-color: white;
}

.page {
  /* setting height 100% for html, body, and for all pages makes each page full viewport */
  height: 100%;
  /* dirty hack to make text big and centered */
  text-align: center;
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #025C93;
  border-radius: 2em;
}

#content {
  text-align: center;
  padding: 350px 32px;
  color: white;
}

#state {
  float: left;
  margin-left: 1px;
}

#page1 {
  background-color: #3946FF;
}

#page2 {
  background-color: pink;
}

#page3 {
  background-color: green;
}

#page4 {
  background-color: coral;
}

#page5 {
  background-color: grey;

}

#subject {
  /* text-align: justify; */
  height:200px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
}

.row2 {
  width:90%;
}

.container {
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 65%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#girl {
  position: absolute;
  top: 40%;
  left: 45.8%;
  display: block;
}

#mom {
  position: absolute;
  top: 25%;
  left: 39%;
}

/*header section*/
header {
  display: inline-block;
}

.topnav-right {
  float: right;
}

#button {
  border: none;
  padding: 16px 32px;
  float: right;
  text-decoration: none;
  /* display: block; */
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: none;
  top: 0;
}

#button:hover {
  background-color: grey;
}

#title {
  text-align: center;
  color: white;
}

#menu {
  left: 20%;
  display: inline-block;
  cursor: pointer;
}
#menuModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7a63ff;
  visibility: visible;
  z-index: 3;
}

.bar1, .bar2 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.bar3 {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
  width:35px;
}

#submitoverlay {
    display: none;
    background-color: none;
}

#submitsheet {
    background-color: white;
    border: 4px;
    border-radius: 25px;
    margin: auto;
    width: 30%;
    min-width: 300px;
    height: 30%;
    padding: 8px;
    position: absolute;
    top: 5615px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}

#submitsheet p {
    text-align: center;
    margin-bottom: 1em;
}

.button {
    text-align: center;
    background-color: rgb(248,154,71);
    padding: 8px;
    width: 160px;
    margin: 5px 30px;
    border-radius: 50px;
    transition: transform .1s;
    font-family:helvetica;
    color:white;

}

.button:hover {
    background-color: white;
    font-family:helvetica;
    color:rgb(248,154,71);
    transform: scale(.97);

}

#submitsheet .button  {
    margin: auto;
    background-color: rgb(248,154,71);
    font-family:helvetica;
    color:white;
    /* border: 2px rgb(248,154,71) solid; */
    transform: scale(.97);

}


#control {
    display: flex;
    position: relative;
    float:left;
    margin-left: 46.5em;
    top: 5px;


}

#control .button {
    margin: 5px;

}

footer {
  background:darkgrey;
  /*pink*/
  position: fixed;
  /* padding: 1rem; */
  margin-top: 36px;
  text-align: center;
  /* border-radius: 1rem; */
  left: 0;
  bottom: 0;
  width: 100%;
}

footer ul li {
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  padding: .5rem;
}
