h1 {
  font-family: 'Coiny';
  color: #16AFCB;
  /*turquoise*/
  text-align: center;
}

p {
  color: #B21E59;
  font-family: 'Concert One', cursive;
}

div {
  color: grey;
}

footer ul li {
  color: #B21E59;
  display: inline-block;
  text-align: center;
  padding: .5rem;
}
